#bacground{
	background-image: url("cny.jpg");
	background-size: cover;
	height: 150;
	margin: -21.4;
	background-repeat: no-repeat;
	background-position: center;
}

h1{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150%, -300%)



}

body{
	font-family: optima;
	background-color: #A0F5E5;
}

p{
	 position: absolute;
    top: 600px;
    right: -2000px;
    transform: translate(-90%, -50%);

}

.logo {
	float: left;
margin-left: 900px;
width: 150px;
height: 38px;
}
#p2{
	 position: absolute;
    top: 400px;
    right: -500px;
    transform: translate(-90%, -50%);

}